<a href="https://colab.research.google.com/github/Shambhavi-Gupta/DS_Pandas04-Task1/blob/master/DS_Pandas04_Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

#**Task 1:**

Collect numbers for the diameters of these planets(hevenly bodies) and store it in a series objects.Then given these two series objects mass and diameter, compute density of each planet

In [ ]:
mass = pd.Series([0.33 , 4.87 , 5.97 , 0.642 , 1898 , 568 , 86.8 , 102 , 0.0146],
                 index = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto'])

In [ ]:
diameter = pd.Series([4879, 12104, 12756, 3475, 6792, 142984, 120536, 51118, 49528, 2370],
                     index =['Mercury', 'Venus', 'Earth','Moon', 'Mars', 'Jupiter', 'Saturn','Uranus','Neptune', 'Pluto'])

In [ ]:
density = pd.Series([])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [ ]:
print(density)

Series([], dtype: float64)

In [ ]:
mass['Moon'] = 0.7346

In [ ]:
mass

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
Moon          0.7346
dtype: float64

In [ ]:
diameter

Mercury      4879
Venus       12104
Earth       12756
Moon         3475
Mars         6792
Jupiter    142984
Saturn     120536
Uranus      51118
Neptune     49528
Pluto        2370
dtype: int64

In [ ]:
for planet in mass.index:
    density[planet] = mass[planet] / (np.pi * diameter[planet] * diameter[planet] * diameter[planet] /6)

In [ ]:
print(density)

Mercury    5.426538e-12
Venus      5.244977e-12
Earth      5.493286e-12
Mars       3.913302e-12
Jupiter    1.240039e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Neptune    1.603427e-12
Pluto      2.094639e-12
Moon       3.343396e-11
dtype: float64

In [ ]:
density = mass / (np.pi * np.power(diameter, 3) / 6)

In [ ]:
print(density)

Earth      5.493286e-12
Jupiter    1.240039e-12
Mars       3.913302e-12
Mercury    5.426538e-12
Moon       3.343396e-11
Neptune    1.603427e-12
Pluto      2.094639e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Venus      5.244977e-12
dtype: float64

In [ ]:
mass['Planetx'] = 6

In [ ]:
density = mass / (np.pi * np.power(diameter, 3) / 6)

In [ ]:
density

Earth      5.493286e-12
Jupiter    1.240039e-12
Mars       3.913302e-12
Mercury    5.426538e-12
Moon       3.343396e-11
Neptune    1.603427e-12
Planetx             NaN
Pluto      2.094639e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Venus      5.244977e-12
dtype: float64